.boxItems {
  background-color: "#F8F8FF";
  padding: 3px 50px 3px 50px;
}
.videoBoxs {
  margin-left: 0%;
  margin-top: 3%;
  height: 40%;
  width: 100%;
}
.listVideos {
  list-style-type: none;
}

.buttonDel {
  margin: 1em;
  margin-left: 90%;
  width: 10%;
  border: 1px solid #2fa4e7;
  background: none;
}
