.Head {
  margin-top: 2em;
  text-align: center;
}
.Lists {
  color: palevioletred;
  border-radius: 3px;
}

.TitleList {
  h1 {
    text-align: center;
  }
  p {
    color: lightslategray;
    text-align-last: center;
  }
}

.Box {
  background-color: "#F8F8FF";
  padding: "3px 50px 3px 50px";
}
.VideoBox {
  margin-left: "40%";
  margin-top: "3%";
  height: "40%";
  width: "25%";
}
.Lis {
  list-style-type: none;
}
